<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/userAdmin.js"></script>
    <title>ユーザ管理</title>
</head>
<body>
<div class="header-contents">
    <h1>ユーザ管理</h1>
    <a href="/signup">
        <button class="signup-button header-button" type="button">ユーザ登録</button>
    </a>
    <button class="edit-selected-user-button header-button" type="button" disabled>ユーザ編集</button>
</div>
<div class="main-contents">
    <div class="errorMessages" th:if="${not #lists.isEmpty(errorMessages)}" th:each="errorMessage : ${errorMessages}">
        <span th:text="${errorMessage}"></span>
    </div>
    <table style="border-collapse: collapse">
        <thead>
        <tr>
            <th></th>
            <th class="table-account">アカウント名</th>
            <th class="table-name">氏名</th>
            <th class="table-isStopped">ユーザ停止状態</th>
            <th class="table-branch-name">支社名</th>
            <th class="table-department-name">部署名</th>
        </tr>
        </thead>
        <tbody>
        <tr class="user-icon" th:each="user : ${users}">
            <td>
                <input type="radio" name="selectedUserId" th:value="${user.id}" class="user-radio">
            </td>
            <td class="table-account" th:text="${user.account}"></td>
            <td class="table-name" th:text="${user.name}"></td>
            <td class="table-isStopped">
                <div class="update-isStopped">
                    <th:block th:if="${user.id} == ${loginUserId}">
                        <span th:if="${user.isStopped} == 0">稼働</span>
                        <span th:if="${user.isStopped} == 1">停止</span>
                    </th:block>

                    <th:block th:unless="${user.id} == ${loginUserId}">
                        <form th:action="@{/update-isStopped/{id}(id=${user.id})}" th:method="put">
                            <select class="select-box" name="isStopped">
                                <option value="0" th:selected="${user.isStopped == 0}">稼働</option>
                                <option value="1" th:selected="${user.isStopped == 1}">停止</option>
                            </select>
                            <input name="userName" th:value="${user.name}" type="hidden">
                            <input class="update-isStopped-button" type="submit" value="変更" disabled>
                        </form>
                    </th:block>
                </div>
            </td>
            <td class="table-branch-name" th:text="${user.branchName}"></td>
            <td class="table-department-name" th:text="${user.departmentName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer-contents">
    <a href="/">ホーム</a></div>
</body>
</html>