<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>ユーザ登録</title>
</head>
<body>
<div class="header-contents">
  <h1>ユーザ登録画面</h1>
</div>

<div class="errorMessage" th:if="${errorMessage != null}">
  <span th:text="${errorMessage}"></span>
</div>

<div class="main-contents">
  <form th:action="@{/userAddProcess}" method="post" th:object="${addUser}">
    アカウント
    <input type="text" th:field="*{account}"/> <br />
    パスワード
    <input type="password" th:field="*{password}"/> <br />
    パスワード確認用
    <input type="password" th:field="*{checkPassword}"/> <br />
    名前
    <input type="text" th:field="*{name}"/> <br />
    支社名
    <select> <br />
    <option value="javascript">本社</option>
    <option value="php">A支社</option>
    <option value="java">B支社</option>
    <option value="java">C支社</option>
    <option value="java">D支社</option>
    </select> <br />
    部署名
    <input type="text" th:field="*{departmentName}"/> <br />

    <input type="submit" value="ログイン">
  </form>
</div>
</body>
</html>