<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>ユーザ登録</title>
</head>
<body>
<div class="header-contents">
  <h1>ユーザ登録画面</h1>
</div>

<div class="errorMessage" th:if="${errorMessage != null}">
  <span th:text="${errorMessage}"></span>
</div>

<div class="main-contents">
  <form th:action="@{/userAddProcess}" method="post" th:object="${addUser}">
    アカウント
    <input type="text" th:field="*{account}"/> <br />
    パスワード
    <input type="password" th:field="*{password}"/> <br />
    パスワード確認用
    <input type="password" th:field="*{checkPassword}"/> <br />
    名前
    <input type="text" th:field="*{name}"/> <br />
    支社名

    <select th:field="*{stringBranchId}"> <br />
    <option value="1">本社</option>
    <option value="2">A支社</option>
    <option value="3">B支社</option>
    <option value="4">C支社</option>
    <option value="5">D支社</option>
    <option value="default" selected>支社を選択してください</option>
    </select> <br />
    部署名
    <select th:field="*{stringDepartmentId}"> <br />

      <option value="1">総務人事部</option>
      <option value="2">情報管理部</option>
      <option value="3">営業部</option>
      <option value="4">技術部</option>
      <option value="default" selected>部署を選択してください</option>
    </select> <br />

    <input type="submit" value="ログイン">
  </form>
</div>
</body>
</html>